.cardForm {
  & > div:nth-child(2) {
    margin-left: 0.5rem;
  }

  & > div:nth-child(1),
  & > div:nth-child(2) {
    display: inline-block;
  }

  &-input {
    // margin: 0.5rem 0;

    // &__label {
    //   font-size: 1.5rem;
    // }

    &__input {
      // padding: 1rem;
      background-color: transparent;
      color: white;
      border-style: dashed;
      text-align: right;
      font-size: var(--card-font-size);
    }
  }
}
