.cardForm {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  &-input {
    display: grid;
    grid-template-columns: 0.2fr 0.4fr 0.4fr;
    margin: 0.5rem 0;
    align-items: center;

    &__label {
      font-size: 1.5rem;
    }

    &__input {
      padding: 1rem;
    }
  }
}
